@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
     margin: 0;
       background: #F2EAE2;
     .container
     {
        width:600 px ;
        height: 450px;
        background: #000;
        margin: 0 auto;
        border-radius: 10px;
        background: var(--Pure-White, #FFF);
        display: flex;
        img
        {
            border-radius: 10px 0 0 10px ;
        }   
        .info
        {
            width: 236px;
            height: 400px;
            margin: 16px 32px 32px 32px;
            h2
            {
                color: var(--Aurometal-Saurus, #6C7289);
                font-family: Montserrat;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 5px;
            }
            h1 
            {
                color: var(--Gunmetal, #1C232B);
                font-family: Fraunces;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px; /* 100% */
            }
            p 
            {
                color: var(--Aurometal-Saurus, #6C7289);
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 23px; /* 164.286% */
            }
            span
            {
                display: flex;
                align-items: center;
                gap: 20px;
                h3 
                {
                    color: var(--Deep-Aquamarine, #3D8168);
                    font-family: Fraunces;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px; /* 100% */
                }
                p 
                {
                    color: var(--Aurometal-Saurus, #6C7289);
                    font-family: Montserrat;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 23px; /* 176.923% */
                    text-decoration-line: strikethrough;
                }
            }
            button
                {
                    border-radius: 8px;
                    background-color: #3D8168;
                    border: 0;
                    padding:15px 62px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--Pure-White, #FFF);
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

        }
    }
}